/*
	CSS Sprites Navigation Tutorial
	Original Tutorial Located at: http://buildinternet.com/2010/01/how-to-make-a-css-sprite-powered-menu/
	Made with love for Build Internet by Zach Dunn
*/

body{background:#b6bec7 url('images/bg-gradient.jpg') repeat-x top left;;}
	
	#wrapper{width:780px; margin:30px auto; overflow:hidden;}
		.content{background:#FFF; clear:both; display:block; -moz-border-radius: 5px; -webkit-border-radius:5px; border-radius:5px;}
		
		p{font-family:arial, sans-serif; padding:20px 30px 20px 30px; margin:0; font-size:14px; color:#212121; line-height:1.6em;}
			p a{color:#A90000;}
		
	/* Everything CSS Sprite Menu */
	ul#menu{margin:0; padding:0; list-style:none; clear:both;}
		#menu li{overflow:hidden; text-indent:-9999px; display:inline; float:left; margin-right:10px;}
			#menu li a{background:url('images/menu-sprite.jpg') no-repeat; width:100%; height:100%; display:block;}
			
			/* Home Button */
			#menu li.home{width:115px; height:60px;}
				#menu li.home a{background-position:-5px -5px;}
				#menu li.home a:hover{background-position:-5px -75px;}
				#menu li.home a.selected{background-position:-5px -145px;}
			
			/* About Button */
			#menu li.about{width:120px; height:60px;}
				#menu li.about a{background-position:-125px -5px;}
				#menu li.about a:hover{background-position:-125px -75px;}
				#menu li.about a.selected{background-position:-125px -145px;}
				
			/* Contact Button */
			#menu li.contact{width:160px; height:60px;}
				#menu li.contact a{background-position:-250px -5px;}
				#menu li.contact a:hover{background-position:-250px -75px;}
				#menu li.contact a.selected{background-position:-250px -145px;}