/*
* @Author: Jeremiah Marks
* @Date:   2015-04-09 00:30:28
* @Last Modified by:   Jeremiah Marks
* @Last Modified time: 2015-04-19 02:31:55
*/

body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
}
body {
    background-color: #333;
    color: #aaa;
}
.newNote {
}
:root {
    --main-height: 500px;
    --tags-height: 40px;
    --title-height:75px;
}
.titleHolder {
    bottom: 0;
    display: table-cell;
    float: left;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
}

.newNote {
    display: table;
    width: 100%;
}
.newNoteHeader {
    clear: both;
    display: table-row;
    height: auto;
    left: 50%;
    position: relative;
    width: 100%;
}

.noteArea {
    display: table-cell;
    left: 10%;
    position: absolute;
    right: 20%;
    top: var(--title-height);
}
.mobilePost {
}



.noteAndTagHolder {
    display: table-row;
    float: left;
    position: absolute;
    width: 100%;
}
.newNoteTable {
    margin: 0 auto;
    width: 100%;
}
.tableHeader, h2 {
    display: table-cell;
    margin: 0 auto;
    width: 1px;
}
#notes {
    height: var(--main-height);
    margin: 0 auto;
    width: 100%;
}
#noteText {
    height: var(--title-height);
    margin: 0 auto;
    width: 100%;
}
.mobilesubmit {
    height: var(--main-height);
    margin: 0 auto;
    width: 100%;
}
td {
    margin: 0 auto;
}
.inputNoteLabel {
    float: right;
}
#newTagFormHolder {
}
.newForm {
}
#newTagElements {
}
.tag .display {
}

.display {
}
.mainSubmit {
    display: table-cell;
    left: 0;
    position: absolute;
    top: var(--title-height);
    width: 10%;
}
.description {
}
.submit {
}
.tagArea {
    bottom: 0;
    display: table-cell;
    left: 80%;
    position: absolute;
    right: 0;
    top: var(--title-height);
}
.tagOptions {
    /*bottom: 100%;*/
    height: var(--main-height);
    position: relative;
    right: 0;
    width: 100%;
}
.tagList {
    height: var(--main-height);
    position: relative;
    width: 100%;
}





.mainNavContainer{


}
.mainNav{

}
.navItem{
    
}

/*******************************/
/*******************************/
/*This is the start of edit css*/
/*******************************/
/*******************************/
.editItem {
    background-color: #111;
    float: left;
    margin: 3px;
    overflow: hidden;
    width: 240px;
}
.editName {
    height: 2em;
}
.catchallText {
    background-color: #666;
    font-family: monospace;
    font-size: 1.5em;
    font-style: italic;
    width: 100%;
}
.updateHolder {
    width: 100%
}
.editNotes {
    float: left;
    width: 100%;
}
.noteTextArea {
    width: 100%;
}
.appliedTags {
    background-color: #666;
    color: #f77;
    float: left;
    height: 35%;
    width: 100%;
}
.tag {
    border: 1px solid #0fe;
    display: inline-block;
    margin: 0;
    padding: 3px;
}
.hiddenCheckbox {
    opacity: 0;
    position: relative;
    right: 25px;
}
.addTagsDiv {
    background-color: #222;
    color: #262;
    float: left;
    height: 35%;
    width: 100%%;
}
.breaker{
    clear: both;
}
.tabview{

}
.updateRecordSubmit {
    height: var(--tags-height);
    margin: 2px;
    padding: 2px;
    width: 100%;
}

/****************************************/
/****************************************/
/*This is the start of floating tags css*/
/****************************************/
/****************************************/
.floatingTags{
    width: 100%;
}
.tagHolder{
    position: relative;
    left: 0;
    right: 0;
    height: 100px;
}
.addableTags {
    background-color: white;
    float: left;
    left: 0;
    position: relative;
    width: 50%;
}
.removeableTags {
    background-color: black;
    float: left;
    left: 0;
    position: relative;
    right: 0;
    width: 50%;
}
.tagSearchSubmit{
    clear: both;
    width: 100%;
}
.addableTagsLabel{
    color: #000;
    border: 2px solid red;
}
.addableTagsThing{

}
.removeableTagsLabel{
    color:#fff;
    border: 2px solid red;
}
.removeableTagsThing{

}
.tagThing{
    height: 100%;
    float: left;
}
.manualUpdateLink{

}
.editLink{
    float: right;
}

/****************************************/
/****************************************/
/*This is the start of editCatchall css */
/****************************************/
/****************************************/

.recordsHolder{
    width: 100%;
    height: 300px;
}
.editRecord{
    width: 100%;
    height: 100%;
}
.editIndivRecord{

}
.editTimeStamp{
    clear: both;
    height: 10%;
}
.createdTimestamp{
    float: right;
}
.editNotesArea{
    height: 45%;
}
.editNotesArea > .noteTextArea{
    height: 100%;
}
.tagsHolder{
    height: 75px;
}
.tagsApplied{
    width: 50%;
    float: left;
    height: 100%;
    background-color: #111;
}
#appliedTags{

}
.appliedTagsLabel{

}
.appliedTtag{
    background-color: orange;
    color: #222;
}
.tagsAvailable{
    width: 50%;
    float: left;
    height: 100%;
    background-color: #888;
}
#availableTags{

}
.availableTagsLabel{

}
.availableTtag{
    background-color: #222;
    color: orange;
}
.tabsHolder{

}
.editSubmit{

}
.editCatchallSubmit{
    width: 100%;
}
.allnotesAndTags{
    border: 1px solid black;
}
.noteRow{
    border: 1px solid red;
}
.noteID{
    border: 1px solid black;
    width: 10%
}
.noteText{
    border: 1px solid black;
    width: 60%;
}
td.tagHolder{
    border: 1px solid black;
}